

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

.titulo {
  font-size: 50px;
  font-family: arial;
  color: #a523b6ff;
}

.titulo2 {
  font-size: 35px;
  font-family: arial;
  color: rgb(95, 95, 95);

}

.resposta{
  font-size: 20px;
  font-family: arial;
  color: rgb(99, 99, 99);
  font-weight: bold;
}

.btn{
  margin-top: 20px;
  width: 140px;
  height: 40px;
  font-weight: bolder;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: #a523b6ff ;
  border-radius: 20px;
  border-color: #a523b6ff;
  border-style: none ;
  transition: background-color 0.1s;
}

.btn:active {
  background-color: #676767;
}

.btn:hover{
  border-color: #a523b6ff; 
  box-shadow: 0 0 0  1px #a523b6ff;
}

.input {
  width: 300px;
  margin-right: 10px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
}

.input:hover {
  border-color: #a523b6ff ;
}

.input:focus {
  border-color: #a523b6ff; 
  box-shadow: 0 0 0 2px rgba(157, 55, 170, 0.387);
}

.divInput {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divInput label{
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bolder;
  font-family: arial;
  color: rgb(108, 108, 108);
}


 
