

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}


.titulo {
  font-size: 50px;
  font-family: arial;
  color: #a523b6ff;
}

.titulo2 {
  font-size: 45px;
  font-family: arial;

}

.Lista{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.lista{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-left: 50%;

}

.Itens{
  font-size: 35px;
  font-weight: bolder;
  font-family: arial;
  color: black;
}

img{
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 15px;
}

.linha{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
